services:
  postgres:
    image: shangor/postgres-for-rag:v1.0
    container_name: postgres-LightRag
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: lideraviacao
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: light_rag_db
    ports:
      - "5432:5432"
    # usa named volume em vez de host bind
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      retries: 5
      start_period: 5s

  neo4j:
    image: neo4j:latest
    container_name: neo4j-LightRag
    environment:
      NEO4J_AUTH: neo4j/lideraviacao
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - neo4j-data:/data
      - neo4j-logs:/logs
    healthcheck:
      test: ["CMD-SHELL", "cypher-shell -u neo4j -p $${NEO4J_AUTH##*/} 'RETURN 1;'"]
      interval: 5s
      retries: 5
      start_period: 30s
  lightrag:
    container_name: lightrag
    image: ghcr.io/hkuds/lightrag:latest
    build:
      context: .
      dockerfile: Dockerfile
      tags:
        - ghcr.io/hkuds/lightrag:latest
    depends_on:
      postgres:
        condition: service_healthy
      neo4j:
        condition: service_healthy
    ports:
      - "${PORT:-9621}:9621"
    volumes:
      - ./data/rag_storage:/app/data/rag_storage
      - ./data/inputs:/app/data/inputs
      - ./config.ini:/app/config.ini
      - ./.env:/app/.env
    env_file:
      - .env
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  postgres-data:
  neo4j-data:
  neo4j-logs: